*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    overflow: hidden;
    position: relative;
    color: white;
    background-color: red;
    width: 300px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
}

.btncha{
    background-color: blueviolet;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    z-index: 1;
}

.card_main{
    z-index: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle{
    background-color:chocolate;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: -50px;
    transition: all 0.4s;
}
.circle_b{
    background-color: blue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    right: -80px;
    transition: all 0.4s;

}
.circle_r{
    background-color:cornflowerblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}

.card:hover .circle{
    top: -400px;
    left: -500px;
}

.card:hover .circle_b{
    bottom: -400px;
    right: -500px;
}

.card:hover .circle_r{
    width: 100vh;
    height: 100vh;
    bottom: 0;
}